<div class="card">
  <div class="card-header">
    Sign Up!
  </div>

  <div class="card-body">
    <form novalidate
          #signupForm = "ngForm"
          (ngSubmit) = save(signupForm)>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" 
               for="firstNameId">
            First Name
        </label>
        <div class="col-md-8"> 
          <input class= 'form-control' type="text" id="firstNameId" placeholder="First Name (required)"
                 required  minlength="3" name="firstName"
                 [(ngModel)] = customer.firstName 
                 #firstNameModel = "ngModel"
                 [ngClass]="{'is-invalid' : (firstNameModel.touched || firstNameModel.dirty) && !firstNameModel.valid}"
          />
          <span class="invalid-feedback">
            <span *ngIf="firstNameModel.errors?.['required']">
              Please enter your first name.
            </span>
            <span *ngIf="firstNameModel.errors?.['minlength']">
              The first name must be longer than 3 characters.
            </span>
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label" 
               for="lastNameId">
            Last Name
          </label>
          <div class="col-md-8">
              <input class="form-control" type="text" id="lastNameId" placeholder="Last Name (required)" 
                     required maxlength="50" name="lastName"
                     [(ngModel)] = customer.lastName
                     #lastNameModel = "ngModel"
                     [ngClass]="{'is-invalid' : (lastNameModel.touched || lastNameModel.dirty) && !lastNameModel.valid}"/>
              <span class="invalid-feedback">
                <span *ngIf="lastNameModel.errors?.['required']">
                  Please enter your last name.
                </span>
                <span *ngIf="lastNameModel.errors?.['maxlength']">
                  The first name must be longer than 50 characters.
                </span>
              </span>       
          </div>  
      </div>

      <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label" 
               for="emailId">
           Email
          </label>
          <div class="col-md-8">
            <input class="form-control" type="email" name="email" id="emailId" placeholder="Email (required)"
                   required email 
                   [(ngModel)] = customer.email
                   #emailModel = "ngModel" 
                   [ngClass]="{'is-invalid': (emailModel.touched || emailModel. dirty) && !emailModel.valid}"/>
            <span class="invalid-feedback">
              <span *ngIf="emailModel.errors?.['required']">
                  Please enter your email address.
                </span>
                <span *ngIf="emailModel.errors?.['email']">
                  Please enter a valid email address.
                </span>
            </span>       
          </div>
      </div>


      <div class="form-group row mb-2">
        <div class="col-md-8">
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input"
                     id="sendCatalogId"
                     type="checkbox"
                     [(ngModel)]="customer.sendCatalog"
                     name="sendCatalog"> Send me your catalog
            </label>
          </div>
        </div>
      </div>

      <div *ngIf="customer.sendCatalog">
         <div class="form-group row mb-2">
           <label class="col-md-2 col-form-label pt-0">Address Type</label>
           <div class="col-md-8">

              <div class="form-check form-check-inline">
                  <div class="form-check">
                    <label class="form-check-label" for="flexRadioDefault1">
                        <input class="form-check-input" type="radio" name="addressType" id="homeId"
                               value="home" 
                               [(ngModel)]= customer.addressType>
                        Home
                    </label>
                  </div>
              </div>

              <div class="form-check form-check-inline">
                  <div class="form-check">
                    <label class="form-check-label" for="flexRadioDefault2">
                      <input class="form-check-input" type="radio" name="addressType" id="workId" 
                             value="work"
                             [(ngModel)]= customer.addressType>
                        Work
                    </label>
                  </div>
              </div>

              <div class="form-check form-check-inline">
                  <div class="form-check">
                    <label class="form-check-label" for="flexRadioDefault2">
                      <input class="form-check-input" type="radio" name="addressType" id="otherId" 
                            value="other"
                            [(ngModel)]= customer.addressType>
                        Other
                    </label>
                  </div>
              </div>

           </div>
         </div>
        
         <div class="form-group row mb-2">
           <label class="col-md-2 col-form-label"
                 for="street1Id">
                 Street Address 1
            </label>
            <div class="col-md-8">
              <input class="form-control" type="text" name="street1" id="street1Id" 
                    [(ngModel)] = customer.street1
                    #street1Model = "ngModel" 
                    />
            </div>
          </div>

          <div class="form-group row mb-2">
           <label class="col-md-2 col-form-label"
                 for="street2Id">
                 Street Address 2
            </label>
            <div class="col-md-8">
              <input class="form-control" type="text" name="street2" id="street2Id" 
                    [(ngModel)] = customer.street2
                    #street2Model = "ngModel" 
                    />
            </div>
          </div>

          <div class="form-group row mb-2">
            <label class="col-md-2 col-form-label"
                  for="cityId">City, State, Zip Code
            </label>
            <div class="col-md-3">
              <input class="form-control"
                    id="cityId"
                    type="text"
                    placeholder="City"
                    [(ngModel)]="customer.city"
                    name="city">
            </div>
            <div class="col-md-3">
              <select class="form-control"
                      id="stateId"
                      [(ngModel)]="customer.state"
                      name="state">
                <option value=""
                        disabled
                        selected
                        hidden>Select a State...</option>
                <option value="AL">Alabama</option>
                <option value="AK">Alaska</option>
                <option value="AZ">Arizona</option>
                <option value="AR">Arkansas</option>
                <option value="CA">California</option>
                <option value="CO">Colorado</option>
                <option value="WI">Wisconsin</option>
                <option value="WY">Wyoming</option>
              </select>
            </div>
            <div class="col-md-2">
              <input class="form-control"
                    id="zipId"
                    type="number"
                    placeholder="Zip Code"
                    [(ngModel)]="customer.zip"
                    name="zip">
            </div>
          </div>
      </div>

      <div class="form-group row mb-2">
        <div class="offset-md-2 col-md-4">
          <button class="btn btn-primary mr-3"  type="submit" style="width:80px"
                  [title]="signupForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'" 
                  [disabled]="!signupForm.valid">
            Save
          </button>
        </div>
      </div>

    </form>
  </div>
</div>

<br>
<pre>Dirty: {{ signupForm.dirty }}</pre>
<pre>Touched: {{ signupForm.touched }}</pre>
<pre>Valid: {{ signupForm.valid }}</pre>
<pre>Value: {{ signupForm.value | json }}</pre>
